{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/home.css' %}" />
{% endblock %} 

{% block content %}
    {% if hostels|length == 0 %}
      <h3 class="area-h3">Sorry, There are no hostels in this particular area.</h3>
    {% else %}
    <section>
      <h3 class="area-h3">Hostels Found in Area {{area}}</h3>
        <div class="pop-list">
            {% for hostel in hostels %}
              {% include "hostelmanagement/includes/hostelCard.html" %}      
            {% endfor %}
          </div>
    </section>
    {% endif %}
{% endblock %}