{% extends 'base.html' %}
{% load static %}

{% block title %} {{hostel.name}} {% endblock  %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/home.css' %}" />
{% endblock  %}

{% block content %}
    <section class="section-1">
        <div class="div-img">
            <img src="{{hostel.images.url}}" alt="">
        </div>
        <div class="div-abs">
            <div class="div-content">
                <h2>{{hostel.name}}</h2>
                <p>{{hostel.location}}</p>
                {% for room in hostel.room.all %}
                    <h4>Rent : {{room.room_cost}}</h4>
                {% endfor %}
            </div>
            <div class="div-content-2">
                <div class="hostel-type">
                    <div class="icn-set">
                        <i class="fa fa-male" aria-hidden="true"></i>
                    </div>
                    <h6>{{hostel.type_of_hostel}}</h6>
                </div>
                <div class="div-view">
                    <span class="material-symbols-outlined">
                        visibility
                        </span>
                    <h6>Viewed - {{hostel.views}}</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <main class="main-sec">
            <div class="div-details">
                <h5>Details</h5>
            <div class="tble-responsive">
                <table class="table table-hover">                    
                    <tr>
                        <td>Notice Period</td>
                        <td>{{hostel.details.notice_period}}</td>
                    </tr>
                    <tr>
                        <td>Near By</td>
                        <td>{{hostel.details.near_by}}</td>
                    </tr>
                    <tr>
                        <td>Visitors Allowed</td>
                        {% if hostel.details.visitors_allowed %}
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        {% else %}
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Security Deposit</td>
                        <td>{{hostel.details.security_deposit}}</td>
                    </tr>
                    <tr>
                        <td>Warden</td>
                        {% if hostel.details.warden %}
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        {% else %}
                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Restrictions</td>
                        <td>{{hostel.details.restrictions}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div-faci">
            <h5>Facilities</h5>
            <ul>
                {% for facility in hostel.facilities.all %}
                    <li>{{facility.facility}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="div-rooms">
            <h5>Rooms</h5>
            {% for room in hostel.room.all %}
            <div class="rooms-block">
                <div class="upper-block">
                    <p>₹ {{room.room_cost}}</p>
                    <p>{{room.number_of_students}} Sharing Rooms</p>
                    {% if hostel.food_facility == "With Mess" %}
                        <p>Food Included</p>
                    {% else %}
                        <p>Food Not Included</p>
                    {% endif %}
                </div>
                <div class="rooms-lower">
                    <div class="lower-block">
                        <img src="{{room.room_imgs.url}}" alt="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="div-reviews">
            <h5>User Reviews</h5>
            {% if reviews|length > 0 %}
                {% for review in reviews %}
                <div class="review-block">
                    <div class="review-div">
                        <div class="review-usr-img">
                            <img src="{{hostel.images.url}}" alt="">
                        </div>
                        <div class="review-content">
                            <h6>{{review.usr}}</h6>
                            <p>{{review.text}}</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No Reviews. Go ahead add a Review</p>
            {% endif %}
        </div>
    </main>
        <div class="div-contact-location">
            {% if request.user.is_authenticated %}
                <div class="div-contact">
                    <h5>Location</h5>
                    <div class="div-addr">
                        Address:
                        <p>{{hostel.location}}</p>
                    </div>
                </div>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="div-owner-details">
                    <h5>Contact Owner</h5>
                    <div class="div-owner">
                        <div class="owner-pic">
                            <img src="{{ownerDetail.profilePic.url}}" alt="">
                        </div>
                        <div class="owner-detail">
                            <h5>Name : {{ownerDetail.name}}</h5>
                            <p>Address : {{ownerDetail.address}}</p>
                            <small>Contact : {{ownerDetail.contact_num}}</small>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="add-review">
                <h5>Add a Review</h5>
                <form action="{% url 'hostel_details' hostel.slug %}" method="POST" class="review-block add-rev">
                    {% csrf_token %}
                <div class="review-div">
                    <div class="review-usr-img">
                        <img src="{{hostel.images.url}}" alt="">
                    </div>
                    <div class="review-content">
                        <h6>Amogh</h6>
                        <input type="text" name="text" id="text">
                    </div>
                </div>
                <div class="review-send">
                    <button type="submit">
                        <span class="material-symbols-outlined">
                            send
                        </span>
                    </button>
                </div>
            </form>
        </div>
            {% endif %}
        </div>
    </section>
{% endblock  %}