{% extends 'base.html' %} {% load static %} {% block css_files %}
<link
  rel="stylesheet"
  href="{% static 'hostelmanagement/assets/css/dashboard.css' %}"
/>
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/mobile_responsive.css' %}">
{% endblock %} {% block content %}
<main>
  <div id="mysidebar">
    {% include "hostelmanagement/includes/dashboardNav.html" %}
  </div>
  
  <div class="btn-ham">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="dash-Nav">
      {% include "hostelmanagement/includes/dashboardNav.html" %}
    </div>
  </div>
  
  </div>
  <section class="dashboard-section">
    <div class="owner-section">
      <div class="owner-block">
        {% if owner.profilePic %}
        <div class="owner-img-div">
          <img src="{{owner.profilePic.url}}"
          alt="">
        </div>
        {% else %}
        <div class="owner-img-div">
          <img src={% static 'hostelmanagement/assets/images/user.png'%}
          alt="" />
        </div>
        {% endif %}
        <a href="#">{{request.user}}</a>
      </div>
    </div>
    <div class="header">
      <div class="icon-div">
        <span class="material-symbols-outlined"> meeting_room </span>
      </div>
      <div class="header-name">
        <h4>Rooms Management</h4>
      </div>
      <form method="GET" class="search-div">
        <select type="text" name="search-query">
          {% for hostel in hostels %}
            <option value={{hostel.name}}>{{hostel.name}}</option>
          {% endfor %}
        </select>
        <button type="submit">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
      </form>
      <div class="header-btn">
        <button><a href={% url 'add-room' %}>Add Room</a></button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="tble">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Hostel Name</th>
            <th>Num Of Students</th>
            <th>Room Cost</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for room in rooms %}
        <tr>
          <td>{{room.room_number}}</td>
          {% if room.hostel_name %} <td>{{room.hostel_name}}</td> {% else %} <td>---</td> {% endif %}
          <td>{{room.number_of_students}}</td>
          <td>{{room.room_cost}}</td>
          <td>{{room.status}}</td>
          <td>
            <div class="actions-div">
              <a href="{% url 'room-update' room.id %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="{% url 'room-delete' room.id %}">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>
</main>
{% endblock content %}
