{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/dashboard.css' %}" />
{% endblock %}

{% block content %}
    <main>
        
        <div id="mysidebar">
            {% include "hostelmanagement/includes/dashboardNav.html" %}
          </div>
        
          <div class="btn-ham">
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
              <div class="spinner diagonal part-1"></div>
              <div class="spinner horizontal"></div>
              <div class="spinner diagonal part-2"></div>
            </label>
            <div id="sidebarMenu">
              <div class="dash-Nav">
                {% include "hostelmanagement/includes/dashboardNav.html" %}
              </div>
            </div>
          </div>

        <section class="dashboard-section">
            <div class="owner-section">
                <div class="owner-block">
                    {% if owner.profilePic %}
                        <div class="owner-img-div">
                        <img src="{{owner.profilePic.url}}" alt="" />
                        </div>
                        {% else %}
                        <div class="owner-img-div">
                        <img src={% static 'hostelmanagement/assets/images/user.png'%}
                        alt="" />
                        </div>
                        {% endif %}    
                    <a href="#">{{request.user}}</a>
                </div>
            </div>
            <div class="header">
                <div class="icon-div">
                    <span class="material-symbols-outlined">
                        featured_play_list
                    </span> 
                </div>
                <div class="header-name">
                    <h4>Facilities</h4>
                </div>                
            </div>
                <form method="POST" id="form" >
                    {% if messages %}

                        {% for message in messages %}
                            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-3 mt-3"{% endif %}>{{message}}</p>
                        {% endfor %}

                    {% endif %}
                    {% csrf_token %}
                    <div class="fac-form">
                        <div class="input-control">
                            <label for="facility">Name:</label>
                            <input id="facility" name="facility" type="text">
                            <div class="error"></div>
                        </div>
                        <button type="submit">Add</button>
                    </div>
                </form>
        </section>
    </main>
{% endblock  %}