{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/mobile_responsive.css' %}">
{% endblock %}

{% block content %}
    <main>
      
      <div id="mysidebar">
        {% include "hostelmanagement/includes/dashboardNav.html" %}
      </div>
    
      <div class="btn-ham">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <div class="dash-Nav">
            {% include "hostelmanagement/includes/dashboardNav.html" %}
          </div>
        </div>
      </div>

        <section class="dashboard-section">
            <div class="owner-section">
                <div class="owner-block">
                  {% if owner.profilePic %}
                  <div class="owner-img-div">
                  <img src="{{owner.profilePic.url}}" alt="" />
                </div>
                {% else %}
                <div class="owner-img-div">
                  <img src={% static 'hostelmanagement/assets/images/user.png'%}
                  alt="" />
                </div>
                {% endif %}    
                    <a href="#">{{request.user}}</a>
                </div>
            </div>
            <div class="header">
                <div class="icon-div">
                    <span class="material-symbols-outlined">
                        location_city
                    </span> 
                </div>
                <div class="header-name">
                    <h4>Hostels Management</h4>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-grp">
                        <div class="input-wrapper">
                            <input
                              type="text"
                              name="name"
                              required
                              value="{{form.name.value}}"
                            />
                            <label htmlFor="name" class="label-name">
                              <span class="content-name">{{form.name.label}}</span>
                            </label>
                          </div>
                          <div class="input-wrapper">
                            <input
                              type="text"
                              name="location"
                              required
                              value="{{form.location.value}}"
                            />
                            <label htmlFor="name" class="label-name">
                              <span class="content-name">{{form.location.label}}</span>
                            </label>
                          </div>
                          <div class="input-wrapper-2">
                            <label for="type_of_hostel">Hostel Type</label>
                            {{form.type_of_hostel}}
                          </div> 
                    </div>
                    <div class="form-grp">
                        <div class="input-wrapper">
                            <input
                              type="text"
                              name="description"
                              required
                              value="{{form.description.value}}"
                            />
                            <label htmlFor="name" class="label-name">
                              <span class="content-name">{{form.description.label}}</span>
                            </label>
                          </div>
                          <div class="input-wrapper-2">
                            <label for="details">Details:</label>
                            <select name="details" id="details">
                              {% for hD in hostelDetails %}
                                <option value={{hD.near_by}}>{{hD.near_by}}</option>
                              {% endfor %}
                            </select>
                            
                          </div>
                          <div class="input-wrapper-2">
                            <label for="food_facility">Food Type</label>
                            {{form.food_facility}}
                          </div>
                    </div>
                          
                    </div>
                    <div class="form-grp">
                      <div class="input-wrapper-2">
                        <label for="facilities">Facilities:</label>
                        <select name="facilities" id="facilities" multiple>
                          {% for facility in facilities %}
                            <option value="{{facility.facility}}">{{facility.facility}}</option>
                          {% endfor %}
                      </select>
                        </div>
                        <div class="input-wrapper-2">
                          <label for="room">Rooms:</label>
                        <select name="room" id="room" multiple>
                          {% for room in rooms %}
                            <option value="{{room.room_number}}">{{room.room_number}}</option>
                          {% endfor %}
                      </select>
                        </div>
                          <div class="input-wrapper">
                            <input
                              type="text"
                              name="zipcode"
                              required
                              value="{{form.zipcode.value}}"
                            />
                            <label htmlFor="name" class="label-name">
                              <span class="content-name">{{form.zipcode.label}}</span>
                            </label>
                          </div>
                    </div>
                    <div class="form-grp">
                      <div class="input-block">
                          <div class="input-wrapper">
                              <div class="img-section">
                                  <div class="img-display-div">
                                      <img src={% static 'hostelmanagement/assets/images/upldImage.png'%}
                                      alt="">
                                  </div>
                                  <div class="button-wrap">
                                      <span class="button" for="upload"
                                      ><i class="fa fa-cloud-upload" aria-hidden="true">
                                          Upload Image</i
                                          ></span
                                          >
                                  <input id="upload" name="hostelimage" type="file" />
                                  </div>
                              </div>
                          </div>
                          {% for err in form.room_imgs.errors %}
                              <p class="alert alert-danger my-3">{{err}}</p>
                          {% endfor %}
                      </div>
                  </div>
                    <div class="btn-submit">
                        <input type="submit" value="Update Hostel" />
                      </div>
                      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                      <p class="alert alert-danger my-3">{{error}}</p>
                      {% endfor %} {% endif %}
                </form>
        </section>
    </main>
{% endblock  %}