{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/home.css' %}" />
{% endblock %} 

{% block content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
     {% csrf_token %}
      <div class="form-group">
        <p>{{form.username.label_tag}}</p>
        {% render_field form.username class="login-input" placeholder="Username" type="text" %}
        <small class="text-danger">{{form.errors|striptags}}</small> <br> 
      </div>
      <div class="form-group">
        <p>{{form.password.label_tag}}</p>
        {% render_field form.password class="login-input" placeholder="Password" type="password" %}
        <small class="text-danger">{{form.errors|striptags}}</small> <br> 
      </div>
     {% comment %} <small><a href="{% url 'resetPassword' %}">Forgot Password ?</a></small> <br> {% endcomment %}
     <input type="submit" class="btn btn-dark mt-4" value="Login">
     <br>
     <div class="text-center text-dark fw-bold"><small>New to Smart Home Store ? <a href="{% url 'userRegister' %}" class="text-danger">Create an Account</a> </small></div>
		
     {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
     {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock  %}