{% load static %} 

{% block css_files %}
<link rel="stylesheet" href="{% static 'hostelmanagement/Header.css' %}" />
<link rel="stylesheet" href="{% static 'hostelmanagement/assets/css/mobile_responsive.css' %}">
{% endblock %} 

{% block content %}
<header class="header-section">
  <div class="header-left">
    <a href={% url 'home' %}>MyHostel.com</a>
  </div>
  <div class="header-right">
    {% if request.user.is_authenticated %}
    <ul>
      {% if request.user.is_Owner %}
      null
      {% else %}
      <div class="header-long">
        <li><a href="{% url 'explore' %}">Explore</a></li> 
        <li class="nav-item mx-2">
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
        <div class="dropdown-content">
          <a href="#">Explore</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
      {% endif %}
    </ul>
    {% else %}
    <ul>
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li>
        <a href="{% url 'userRegister' %}">Sign Up</a>
      </li>
    </ul>
    {% endif %}
  </div>
</header>
{% endblock %}
